

<div class="content">
<div class="row">
    <div class="col-6">
        <form > 
            <div class="form-group">
              <label for="firstLine">First Line: * </label>
              <input type="text" class="form-control" id="firstLine" formControlName="firstLine" required>
              <small id="firstLineHelp" class="form-text text-muted">Please enter first line of your Address.</small>
            </div>
            <div class="form-group">
              <label for="secondLine">Second Line: </label>
              <input type="text" class="form-control" id="secondLine">
            </div>
            <div class="form-group">
                <label for="postCode">PostCode/Zip:* </label>
                <input type="text" class="form-control" id="postCode" required>
              </div>
            <div class="form-group">
                <label for="town">Town: *</label>
                <input type="text" class="form-control" id="town" required>
            </div>
            <div class="form-group">
                <label for="country">Country: * </label>
                <input type="text" class="form-control" id="country" required>
              </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
    </div>
</div>


  </div>