
<div class="container my-4 content">

    <!-- <p class="font-weight-bold">Bootstrap image grid is a simple construction which allows you to create a responsive
      layout for your images.</p>

    <p><strong>Detailed documentation and more examples of Bootstrap grid you can find in our <a href="https://mdbootstrap.com/docs/jquery/layout/grid-usage/"
          target="_blank">Bootstrap Grid Usage Docs</a> and <a href="https://mdbootstrap.com/docs/jquery/layout/grid-examples/"
          target="_blank">Bootstrap Grid Examples Docs</a></strong></p>

    <p><Strong>Note: </Strong>In the example below animations and shadows are only an additional option. They are added via JavaScript and they are <strong>not</strong> necessary to make a grid working.</p> -->


    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <!-- <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(58).jpg" class="img-fluid mb-4" alt=""> -->
        <img src="../../assets/images/city.jpg" class="img-fluid mb-4" alt="">

        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(66).jpg" class="img-fluid mb-4" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(74).jpg" class="img-fluid mb-4" alt="">

        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(64).jpg" class="img-fluid mb-4" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(77).jpg" class="img-fluid mb-4" alt=""
          data-wow-delay="0.2s">

        <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(67).jpg" class="img-fluid mb-4" alt="">
          <img src="../../assets/images/piano-bw.JPG" class="img-fluid mb-4" alt="">

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>