<div class="row content">
  <div class="col-sm-12 col-lg-6 mb-4">
    <form [formGroup]="RegisterForm">
      <div class="form-group">
        <label for="firstName">First Name: * </label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName"
          [ngClass]="{
            'is-invalid':
              RegisterForm.controls.firstName.touched &&
              !RegisterForm.controls.firstName.valid
          }"
        />
        <!-- <small id="firstLineHelp" class="form-text text-muted">Please enter first line of your Address.</small> -->
        <span class="invalid-feedback">
          <small>Please Enter First Name</small>
        </span>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name: * </label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName"
          [ngClass]="{
            'is-invalid':
              RegisterForm.controls.lastName.touched &&
              !RegisterForm.controls.lastName.valid
          }"
        />
        <!-- <small id="firstLineHelp" class="form-text text-muted">Please enter first line of your Address.</small> -->
        <span class="invalid-feedback">
          <small>Please Enter Last Name</small>
        </span>
      </div>
      <div class="form-group">
        <label for="email">Email: * </label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              RegisterForm.controls.email.touched &&
              !RegisterForm.controls.email.valid
          }"
        />
        <!-- <small id="firstLineHelp" class="form-text text-muted">Please enter first line of your Address.</small> -->
        <span class="invalid-feedback">
          <small>Please Enter Email</small>
        </span>
      </div>
      <div class="form-group">
        <label for="password">Password: * </label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              RegisterForm.controls.password.touched &&
              !RegisterForm.controls.password.valid
          }"
        />
        <!-- <small id="firstLineHelp" class="form-text text-muted">Please enter first line of your Address.</small> -->
        <span class="invalid-feedback">
          <small>Please Enter Password</small>
        </span>
      </div>

      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          (click)="notifyBy('email')"
          name="notification"
          id="inlineRadio1"
          value="email"
          formControlName="notification"
        />
        <label class="form-check-label" for="inlineRadio1">Email</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          (click)="notifyBy('')"
          name="notification"
          id="inlineRadio2"
          value="text"
          formControlName="notification"
        />
        <label class="form-check-label" for="inlineRadio2">Text</label>
      </div>

      <!-- <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
              <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
            </div> -->

      <button type="submit" [disabled]="!RegisterForm.valid" class="btn btn-dark">Submit</button>

      <!-- email valid:
      {{ RegisterForm.get("email").valid }} -->
    </form>
  </div>

  <div class="col-xs-12 col-sm-12 col-lg-6">
    <div class="card" style="width: 18rem;">
      <!-- <img src="../../assets/images/piano-bw.JPG" class="card-img-top img-fluid mb-4" alt="..."> -->
      <img
        src="https://i.ibb.co/2SDzQ50/pianoBW.jpg"
        alt="pianoBW"
        class="img-fluid mb-4"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-dark">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
